<a href="https://colab.research.google.com/github/andresvillamayor/R/blob/main/R_Begineer_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

---
### Para que Google Colab tome el Lenguaje R se debe seguir los siguientes pasos
- Ir al menú de Entorno de Ejecución
- Entrar en Cambiar tipo de entorno de ejecución
- Aparecera una ventana donde dice:
  - Entorno de Ejecución con un flecha, haz clic en la flecha
  - Te aparecera tanto el entrono de Python como de R
  - Selecciona R
  - En la Ventana , abajo a tu derecha pulsa Guardar

## Uso de R para Begineer 01

- Tipo de Datos
---

In [1]:
# Tipo de Dato
# Integer
x <- 2L      # x toma el valor como una variable global

In [2]:
# Para saber el tipo de dato el uso de typeof
typeof(x)  # con esta funcion se puede ver el tipo de dato que contiene x

[1] "integer"

In [6]:
# Si sacamos la L del valor de x, R toma la variable como valor double por defecto
x <-2

In [7]:
# Tipo de Variable que por defecto toma R seria double
typeof(x)

[1] "double"

In [4]:
# Tipo de Dato
# Double
y <- 2.5  # asignamos el valor double 2.5

In [5]:
# Vemos el tipo de dato
typeof(y)  # con la funcion vemos el tipo de dato de y

[1] "double"